<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
</head>

<body>
    <div th:replace="navbar :: header"></div>
    <div class="row">
        <form method="POST" class="col s12" action="/cliente/cadastro" th:object="${cliente}">

            <div th:if="${!#strings.isEmpty(mensagem)}">
                <span th:text="${mensagem}"></span>
            </div>

            <div th:if="${#fields.hasAnyErrors()}">
                    <div th:each="detailedError: ${#fields.detailedErrors()}">
                        <span th:text = "${detailedError.message}"></span>
                    </div>
            </div>
    
            <input type="hidden" th:field="*{codigo}">

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Nome Completo" id="first_name" type="text" class="validate" th:field="*{nome}">
                    <label for="first_name"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="CPF" id="first_name" type="text" class="validate" th:field="*{cpf}">
                    <label for="first_name"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Data de nascimento" id="data" type="text" class="validate" th:field="*{dataNascimento}">
                    <label for="first_name"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Senha" id="password" type="password" class="validate" th:field="*{senha}">
                    <label for="password"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Email" id="email" type="email" class="validate" th:field="*{email}">
                    <label for="email"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Logradouro" id="first_name" type="text" class="validate" th:field="*{endereco.logradouro}">
                    <label for="first_name"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Número" id="first_name" type="text" class="validate" th:field="*{endereco.numero}">
                    <label for="first_name"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Bairro" id="first_name" type="text" class="validate" th:field="*{endereco.bairro}">
                    <label for="first_name"></label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Cidade" id="first_name" type="text" class="validate" th:field="*{endereco.cidade}">
                    <label for="first_name"></label>
                </div>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right"></i>
                </button>
            </div>

        </form>
    </div>

    <script src="/js/materialize.min.js"> </script>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/jquery.mask.js"></script>
    <script src="/js/mask.js"></script>
</body>

</html>