<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div th:replace="navbar :: header"></div>
    <main>
        <div class="container">
            <br><br><br><br><br>
            <figure id="logo">
                <style>
                    figure#logo img {
                        border-radius: 100%;
                        width: 30%;
                        margin-left: 33%;
                        border: 10px chocolate solid;
                    }
                </style>
                <img src="/img/logo.png">
            </figure>
        </div>
    </main>

    <script src="/js/materialize.min.js"> </script>
</body>

</html>