<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Listagem</title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css" />
</head>

<body>
    <div th:replace="navbar :: header"></div>
    <div class="container">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de nascimento</th>
                    <th>Email</th>
                    <th>Logradouro</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Número</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.codigo}"></td>
                    <td th:text="${cliente.nome}"></td>
                    <td th:text="${cliente.cpf}"></td>
                    <td th:text="${{cliente.dataNascimento}}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.endereco.logradouro}"></td>
                    <td th:text="${cliente.endereco.cidade}"></td>
                    <td th:text="${cliente.endereco.bairro}"></td>
                    <td th:text="${cliente.endereco.numero}"></td>
                    <td> <a th:href="@{/cliente/deletar/{codigo}(codigo = ${cliente.codigo})}"><button type="button"
                                class="material-icons">Excluir</button></a></td>
                    <td> <a th:href="@{/cliente/atualizar/{codigo}(codigo = ${cliente.codigo})}"><button type="button"
                                class="material-icons">Atualizar</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/js/materialize.min.js"> </script>

</body>

</html>